.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location-input-container {
    position: absolute;
    width: 35rem;
    top: 30%;
    max-width: calc(100% - 4rem) !important;
}

.location-input {
    height: 3rem !important;
    font-size: 1rem !important;
    z-index: 100;
    will-change: filter !important;
    transition: filter 300ms !important;
}

.location-input:hover {
    filter: drop-shadow(0 0 1.5rem #ffffff9f);
}

.location-input:focus {
    filter: drop-shadow(0 0 1.5rem #ffffff9f);
}

.location-input-button {
    height: 3rem !important;
    padding: 0.5rem !important;
    will-change: filter !important;
    transition: filter 300ms !important;
    z-index: 100;
    filter: drop-shadow(0 0 0.7rem #ffffffaf);
}

.location-input-button:hover {
    filter: drop-shadow(0.5rem 0 1.5rem #ffffff);
    background-color: #ffa719 !important;
}

.arrow-icon {
    height: 3.2rem;
    transform: rotate(225deg);
}

.suggestion-list {
    list-style-type: none;
    padding: 0;
    margin: 0 !important;
    background-color: white;
    border: 1px solid #ccc;
    overflow-y: auto;
    position: absolute;
    top: 3.5rem;
    will-change: filter !important;
    transition: filter 300ms !important;
    z-index: 100;
}

.suggestion-list:hover {
    filter: drop-shadow(0 0 1.5rem #ffffff9f);
}

.suggestion-list-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-list-item:hover {
    background-color: #f0f0f0;
}